.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float:left;
  width: 40%;
  padding: .75rem;
  margin-bottom: 3rem;
  border: 1;
  margin-right: 3rem;
  margin-left: 3rem;
}

.card > p {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

h1.jumbotron-heading.page-title {
  color: black;
  font-family: Palatino;
  font-size: 5rem;
}

.top-buttons {
  color: black;
  font-family: Palatino;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: inherit;
}

a.btn.btn-outline-info {
  padding-top: 1rem;
}

.card-title {
  color: black;
  font-family: -webkit-body;
  text-align: center;
  font-size: xx-large
}

.questionnaires-list-buttons {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


a.btn.btn-primary {
  font-size: inherit;
}